<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.package1.householdledger3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_howmany_icon"
        android:label="하우매니"
        android:roundIcon="@mipmap/ic_howmany_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.package1.householdledger3.SplashActivity"
            android:theme="@style/SplashTheme">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        </activity>

        <activity android:name="com.package1.householdledger3.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8489601855107344~7743652360" />
    </application>

</manifest>